@font-face {
    font-family: BLKCHCRY;
    src: url(../fonts2/BLKCHCRY.TTF);
}

@font-face {
    font-family: Darleston;
    src: url(../fonts2/Darleston.otf);
}


.section1.background {
	background: url("../images2/bg.jpg") no-repeat center center fixed; 
	background-size: cover;
	position: fixed;
	z-index: -10;
	top: 0;
	left: 0;
	padding: 50%;
	content: "";

	//opacity: 0;
	display: none;
}

body {
	margin: 0;
	background-color: black;
}

.page.title {
	position: fixed;
	text-align: center;
	font-family: Darleston;
    font-weight: lighter;
	color: white;
	top: 0em;
	font-size: 4em;
	width: 100%;
	line-height: 1.2em;
	background: rgba(20,19,3, .25);
	transition: all 2s .1s;
}

@keyframes inseq { 
	100% { opacity: 1; }
}

@keyframes outseq { 
	100% { opacity: 0; }
}



$start: 2s;
$welcome: $start + 2s;
$myname: $welcome + 2s;
$button1: $myname + 3s;
$button2: $button1 + .3s;
$button3: $button2 + .3s;



// !!!!!!!!!!!! Don't delete animation comment, it is for hexgon theme !!!!!!!!!!!!!!!!!!!


.page.title {
	span {
		display: none;

    	//opacity: 0;
        // animation: inseq 1.5s ease $welcome forwards;
    }

    .t2 {
    	// animation: inseq 2.5s ease $myname forwards;
	}
}

// .section1.background {
// 	animation: inseq 1.5s ease $start forwards;
// }

// @import 'hexagon_theme';
@import 'theatre_theme';




