@font-face {
  font-family: BLKCHCRY;
  src: url(../fonts2/BLKCHCRY.TTF); }

@font-face {
  font-family: Darleston;
  src: url(../fonts2/Darleston.otf); }

.section1.background {
  background: url("../images2/bg.jpg") no-repeat center center fixed;
  background-size: cover;
  position: fixed;
  z-index: -10;
  top: 0;
  left: 0;
  padding: 50%;
  content: "";
  display: none; }

body {
  margin: 0;
  background-color: black; }

.page.title {
  position: fixed;
  text-align: center;
  font-family: Darleston;
  font-weight: lighter;
  color: white;
  top: 0em;
  font-size: 4em;
  width: 100%;
  line-height: 1.2em;
  background: rgba(20, 19, 3, 0.25);
  transition: all 2s .1s; }

@keyframes inseq {
  100% {
    opacity: 1; } }

@keyframes outseq {
  100% {
    opacity: 0; } }

.page.title span {
  display: none; }

.page.title br {
  line-height: 1.4; }

.buttons {
  position: fixed;
  bottom: 3.5em;
  text-align: center;
  width: 100%; }
  .buttons .button {
    color: white;
    font-size: 28px;
    font-family: BLKCHCRY;
    font-weight: lighter;
    margin: 0 .8em;
    cursor: pointer;
    display: inline-block; }
    .buttons .button .button2 {
      display: none; }
    .buttons .button.aboutme {
      font-size: 35px;
      margin: 0 1.8em; }
