@font-face {
  font-family: BLKCHCRY;
  src: url(../fonts2/BLKCHCRY.TTF); }

@font-face {
  font-family: Darleston;
  src: url(../fonts2/Darleston.otf); }

.section1.background {
  background: url("../images2/bg.jpg") no-repeat center center fixed;
  background-size: cover;
  position: fixed;
  z-index: -10;
  top: 0;
  left: 0;
  padding: 50%;
  content: "";
  opacity: 0; }

body {
  margin: 0;
  background-color: black; }

.page.title {
  position: fixed;
  text-align: center;
  font-family: Darleston;
  font-weight: lighter;
  color: white;
  top: 0em;
  font-size: 4em;
  width: 100%;
  line-height: 1.2em;
  background: rgba(20, 19, 3, 0.25); }

@keyframes inseq {
  to {
    opacity: 1; } }

@keyframes layerinseq {
  to {
    opacity: 0.55; } }

@keyframes outseq {
  from {
    opacity: 1; }
  to {
    opacity: 0; } }

.page.title span {
  opacity: 0;
  animation: inseq 1.5s ease 4s forwards; }

.page.title .t2 {
  animation: inseq 2.5s ease 6s forwards; }

.section1.background {
  animation: inseq 1.5s ease 2s forwards; }

@keyframes tlseq {
  to {
    top: 15%;
    left: 12%;
    margin-left: -50px;
    transform: scale(1.7); } }

.page.title br {
  line-height: 1.4; }

.overlay {
  position: fixed;
  top: 15%;
  bottom: 15%;
  left: 12%;
  right: 12%;
  margin: 18px -20px 0 -20px;
  background: black;
  opacity: 0; }

.buttons {
  position: fixed;
  bottom: 3.5em;
  text-align: center;
  width: 100%; }
  .buttons .button {
    color: white;
    font-size: 28px;
    font-family: BLKCHCRY;
    font-weight: lighter;
    margin: 0 .8em;
    cursor: pointer;
    display: inline-block;
    opacity: 0;
    animation: inseq 3s ease 9s both; }
    .buttons .button.aboutme {
      font-size: 35px;
      margin: 0 1.8em; }
    .buttons .button.partner, .buttons .button.ability {
      animation-delay: 9.3s; }
    .buttons .button.hkt, .buttons .button.exicon, .buttons .button.greensward, .buttons .button.scmp {
      animation-delay: 9.6s; }
